<a href="https://colab.research.google.com/github/nayvti380/Data-Science/blob/main/data_science_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Bibliotecas

In [ ]:
import pandas as pd
import numpy as np

# pd.series

In [ ]:
uf = ["AC","AL","AP","AM","BA","CE",
      "DF","ES","GO","MA","MT","MS",
      "MG","PA","PB","PR","PE","PI",
      "RJ","RN","RS","RO","RR","SC",
      "SP","SE","TO"]

In [ ]:
uf = pd.Series(uf)

In [ ]:
uf

0     AC
1     AL
2     AP
3     AM
4     BA
5     CE
6     DF
7     ES
8     GO
9     MA
10    MT
11    MS
12    MG
13    PA
14    PB
15    PR
16    PE
17    PI
18    RJ
19    RN
20    RS
21    RO
22    RR
23    SC
24    SP
25    SE
26    TO
dtype: object

In [ ]:
estado = pd.Series([
  "Acre",
  "Alagoas",
  "Amapá",
  "Amazonas",
  "Bahia",
  "Ceará",
  "Distrito Federal",
  "Espírito Santo",
  "Goiás",
  "Maranhão",
  "Mato Grosso",
  "Mato Grosso do Sul",
  "Minas Gerais",
  "Pará",
  "Paraíba",
  "Paraná",
  "Pernambuco",
  "Piauí",
  "Rio de Janeiro",
  "Rio Grande do Norte",
  "Rio Grande do Sul",
  "Rondônia",
  "Roraima",
  "Santa Catarina",
  "São Paulo",
  "Sergipe",
  "Tocantins"
])

In [ ]:
df = pd.DataFrame({
    "UF" : uf,
    "Nome": estado
})
df

    UF                 Nome
0   AC                 Acre
1   AL              Alagoas
2   AP                Amapá
3   AM             Amazonas
4   BA                Bahia
5   CE                Ceará
6   DF     Distrito Federal
7   ES       Espírito Santo
8   GO                Goiás
9   MA             Maranhão
10  MT          Mato Grosso
11  MS   Mato Grosso do Sul
12  MG         Minas Gerais
13  PA                 Pará
14  PB              Paraíba
15  PR               Paraná
16  PE           Pernambuco
17  PI                Piauí
18  RJ       Rio de Janeiro
19  RN  Rio Grande do Norte
20  RS    Rio Grande do Sul
21  RO             Rondônia
22  RR              Roraima
23  SC       Santa Catarina
24  SP            São Paulo
25  SE              Sergipe
26  TO            Tocantins

In [ ]:
data_path = r"/content/Fraud Detection Dataset.csv"
df = pd.read_csv(data_path)

In [ ]:
df.head()

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Location,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
0,T1,4174,1292.76,ATM Withdrawal,16.0,Tablet,San Francisco,0,119,13,Debit Card,0
1,T2,4507,1554.58,ATM Withdrawal,13.0,Mobile,New York,4,79,3,Credit Card,0
2,T3,1860,2395.02,ATM Withdrawal,NaN,Mobile,NaN,3,115,9,NaN,0
3,T4,2294,100.10,Bill Payment,15.0,Desktop,Chicago,4,3,4,UPI,0
4,T5,2130,1490.50,POS Payment,19.0,Mobile,San Francisco,2,57,7,Credit Card,0

In [ ]:
df.tail()

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Location,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
50995,T33982,2339,3112.51,Bill Payment,15.0,Mobile,New York,0,7,8,Debit Card,0
50996,T31261,2152,2897.15,Online Purchase,3.0,Mobile,Miami,1,75,11,Net Banking,1
50997,T12293,3345,2204.43,POS Payment,18.0,Mobile,San Francisco,3,73,5,Credit Card,0
50998,T42287,1518,4787.17,POS Payment,19.0,Tablet,New York,2,108,14,Net Banking,0
50999,T13665,2315,814.72,POS Payment,3.0,Tablet,Los Angeles,0,50,10,Invalid Method,0

In [ ]:
df.sample(5)

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Location,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
41188,T41189,2329,704.04,POS Payment,3.0,Desktop,Boston,1,4,13,Net Banking,0
30152,T30153,1332,2894.71,Bill Payment,0.0,Desktop,Los Angeles,2,5,3,Credit Card,0
40622,T40623,2873,4100.17,Bill Payment,17.0,Mobile,Los Angeles,3,95,11,Credit Card,0
14547,T14548,4989,1977.52,Bill Payment,21.0,Mobile,Seattle,1,17,9,UPI,0
47301,T47302,3650,3064.39,ATM Withdrawal,18.0,Desktop,Chicago,4,51,5,Debit Card,0

In [ ]:
df.shape

(51000, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Transaction_ID                    51000 non-null  object
 1   User_ID                           51000 non-null  int64
 2   Transaction_Amount                48480 non-null  float64
 3   Transaction_Type                  51000 non-null  object
 4   Time_of_Transaction               48448 non-null  float64
 5   Device_Used                       48527 non-null  object
 6   Location                          48453 non-null  object
 7   Previous_Fraudulent_Transactions  51000 non-null  int64
 8   Account_Age                       51000 non-null  int64
 9   Number_of_Transactions_Last_24H   51000 non-null  int64
 10  Payment_Method                    48531 non-null  object
 11  Fraudulent                        51000 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 4.7+ MB

# Quantas linhas tem?

In [ ]:
df.shape[0]

51000

# Quantas colunas têm? Mostre o nome das colunas e o tipo delas.

In [ ]:
df.shape[1]

12

In [ ]:
df.dtypes

Transaction_ID                       object
User_ID                               int64
Transaction_Amount                  float64
Transaction_Type                     object
Time_of_Transaction                 float64
Device_Used                          object
Location                             object
Previous_Fraudulent_Transactions      int64
Account_Age                           int64
Number_of_Transactions_Last_24H       int64
Payment_Method                       object
Fraudulent                            int64
dtype: object

#Existêm valores nulos? Se sim, em quais colunas?

In [ ]:
df.isnull().sum()

Transaction_ID                         0
User_ID                                0
Transaction_Amount                  2520
Transaction_Type                       0
Time_of_Transaction                 2552
Device_Used                         2473
Location                            2547
Previous_Fraudulent_Transactions       0
Account_Age                            0
Number_of_Transactions_Last_24H        0
Payment_Method                      2469
Fraudulent                             0
dtype: int64

#Pegue uma amostra das 3 primeiras linhas.

In [ ]:
df.head(3)

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Location,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
0,T1,4174,1292.76,ATM Withdrawal,16.0,Tablet,San Francisco,0,119,13,Debit Card,0
1,T2,4507,1554.58,ATM Withdrawal,13.0,Mobile,New York,4,79,3,Credit Card,0
2,T3,1860,2395.02,ATM Withdrawal,NaN,Mobile,NaN,3,115,9,NaN,0

#Pegue uma amostra das 8 últimas linhas.

In [ ]:
df.tail(8)

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Location,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
50992,T43512,1584,3631.26,Bank Transfer,17.0,Desktop,Seattle,4,81,13,Net Banking,0
50993,T5873,4911,3613.59,Online Purchase,11.0,Tablet,New York,3,58,7,Net Banking,0
50994,T48244,4842,1587.84,POS Payment,10.0,Tablet,New York,1,94,6,UPI,0
50995,T33982,2339,3112.51,Bill Payment,15.0,Mobile,New York,0,7,8,Debit Card,0
50996,T31261,2152,2897.15,Online Purchase,3.0,Mobile,Miami,1,75,11,Net Banking,1
50997,T12293,3345,2204.43,POS Payment,18.0,Mobile,San Francisco,3,73,5,Credit Card,0
50998,T42287,1518,4787.17,POS Payment,19.0,Tablet,New York,2,108,14,Net Banking,0
50999,T13665,2315,814.72,POS Payment,3.0,Tablet,Los Angeles,0,50,10,Invalid Method,0

#Pegue uma amostra de 10 linhas aleatórias

In [ ]:
df.sample(10)

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Location,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
47183,T47184,3429,3613.84,Online Purchase,4.0,Tablet,NaN,3,24,1,UPI,0
15613,T15614,4541,3352.27,ATM Withdrawal,10.0,Desktop,Miami,0,61,6,UPI,0
208,T209,3278,3780.41,Online Purchase,13.0,Mobile,Miami,2,89,11,Net Banking,0
34237,T34238,4142,4087.25,Bank Transfer,22.0,Desktop,Chicago,1,81,12,Debit Card,0
8304,T8305,2077,806.69,Online Purchase,20.0,Tablet,Los Angeles,4,31,2,Credit Card,0
22928,T22929,1724,477.52,Online Purchase,3.0,Desktop,Houston,4,73,9,Debit Card,0
27357,T27358,4972,3189.00,Online Purchase,15.0,Desktop,Chicago,0,40,10,Credit Card,0
8039,T8040,4977,1200.84,ATM Withdrawal,11.0,Desktop,Seattle,0,104,1,Net Banking,1
24310,T24311,3113,1969.60,POS Payment,22.0,Mobile,Miami,4,96,6,Credit Card,0
4139,T4140,3696,1072.70,Bill Payment,10.0,Mobile,Miami,3,97,6,Net Banking,0

In [ ]:
df[["Transaction_Amount", "Time_of_Transaction"]].sample(12)

       Transaction_Amount  Time_of_Transaction
38901             2638.63                  NaN
4768              2150.18                 14.0
10516              460.13                  1.0
42257                 NaN                  4.0
46686             2719.80                  3.0
25811             3339.44                 14.0
45211             1421.01                 19.0
7177              1504.05                  9.0
49825             3449.61                 11.0
36070             4606.09                 23.0
39356             4737.72                  6.0
29021             3037.24                  6.0